.jumbotron-extend {
    height: 70%;
    position: relative;
    background: url(../images/cupcake.jpg) no-repeat center center;
    background-size: cover;
}
.card {
    margin: 300px 0;
}
.card-body {
    box-shadow: 6px 6px rgba(192,192,192,0.9);
    border-color: #000;
}    
.search,.people,.guideline{
    font-size:20px;
}
.form-control {
    height: 40px;
    box-sizing: border-box;
}
select {
    height: 40px;
    box-sizing: border-box;
}
