body{
    list-style:none;
}
.jumbotron-extend {
    height: 70%;
    width:100%;
    position: relative;
    background: url(../images/cupcake.jpg) no-repeat center center;
    background-size: cover;
   
}
.back-img {
   width: 100%;
  height:100vh;
  background-image: url(../images/back_image.jpg);  
  background-position: center center; 
  background-repeat: no-repeat;  
  background-size: cover;
  background-attachment: fixed; 
}


.card {
    margin: 300px 0 80px 0;
}
.card-body {
    box-shadow: 6px 6px rgba(192,192,192,0.9);
    border-color: #000;
}    
.search,.people,.guideline{
    font-size:20px;
}
.form-control {
    height: 40px;
    box-sizing: border-box;
}
select {
    height: 40px;
    box-sizing: border-box;
}
.shop_list {
    font-size: 30px;
}
.place{
    width: 50px;
    text-align:right;
}
.img-fluid {
    width: 75%;
    margin:7px 0;
}
.shop_name {
    font-size: 25px;
    font-weight:bold;
}
.price,.address {
    font-size: 20px;
    text-align:left;
}
